wp-content/plugins/xsd/TXML5/AvailabilityResponse_TXML_5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- bearbeitet mit XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) von TecAlliance GmbH (TecAlliance GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="Txml_5.0_Common.xsd"/>
    <xs:annotation>
        <xs:appinfo>
            <history>
                <version>1.0</version>
                <changedBy>RMA</changedBy>
                <changedOn>20201005</changedOn>
                <change>Add namespace</change>
            </history>
            <history>
                <version>1.1</version>
                <changedBy>CD</changedBy>
                <changedOn>20210311</changedOn>
                <change>Changes from sprint 113</change>
            </history>
            <history>
                <version>1.2</version>
                <changedBy>RMA</changedBy>
                <changedOn>20210413</changedOn>
                <change>Upgrade TXML Common to v1.7</change>
            </history>
            <history>
                <version>1.3</version>
                <changedBy>RMA</changedBy>
                <changedOn>20210803</changedOn>
                <change>Upgrade TXML Common to v1.8</change>
            </history>
            <history>
                <version>1.4</version>
                <changedBy>RHA</changedBy>
                <changedOn>20210827</changedOn>
                <change>Upgrade TXML Common to v1.9</change>
            </history>
            <history>
                <version>1.5</version>
                <changedBy>RMA</changedBy>
                <changedOn>20211005</changedOn>
                <change>Upgrade TXML Common to v1.10</change>
            </history>
            <history>
                <version>1.6</version>
                <changedBy>MDR</changedBy>
                <changedOn>20220927</changedOn>
                <change>Upgrade TXML Common to v1.11</change>
            </history>
            <history>
                <version>1.7</version>
                <changedBy>CD</changedBy>
                <changedOn>20240124</changedOn>
                <change>Remove schema version from filename</change>
            </history>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="AvaRsp">
        <xs:annotation>
            <xs:documentation>The availability response is used by the seller to inform the buyer about the availability of the requested articles. 

The seller can also provide additional information like prices, allowances or charges, prospective shipping dates and other.

The availability response **does not** imply that the seller has reserved articles for the buyer. The returned information is only a snapshot at this point of time.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Head">
                    <xs:annotation>
                        <xs:documentation>Information about the whole availability response.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DocumentNumber" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>The identifier of the availability response.

This **must** be unique over all availability responses the seller sends. That is, no two availability responses may share the same identifier.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="35"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="IssueDate" type="xs:dateTime">
                                <xs:annotation>
                                    <xs:documentation>The specific point in time when the availability response was created.

It **must** include the time zone (which is the number of hours and minutes the given date and time is ahead or behind UTC time).</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Reference" type="ReferenceHeaderType" minOccurs="0" maxOccurs="9999">
                                <xs:annotation>
                                    <xs:documentation>A reference to another document.

If the buyer has sent a `DocumentNumber`, then the seller **must** add a reference to the buyer's availability request with the qualifier `BuyerOrderNumber`. Its value **must** be the `DocumentNumber` of the buyer's availability request.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="SellerParty" type="PartyType1">
                                <xs:annotation>
                                    <xs:documentation>Information about the seller.

The `Number` for the seller party is usually assigned by the buyer. It is the number under which the seller is known in the buyer's ERP system.

The seller **must** return their own address and contact information.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="BuyerParty" type="PartyType1">
                                <xs:annotation>
                                    <xs:documentation>Information about the buyer.

The `Number` for the buyer party is usually assigned by the seller. It is the number under which the buyer is known in the seller's ERP system.

1.  The seller **must** return the buyer's address and contact information stored in the seller ERP system for the buyer party number sent by the buyer.

2.  It is **not allowed** to copy these values from the availability request.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="DeliveryParty" type="PartyType2" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Information about the recipient of the availability request.

1.  The seller **must** return the recipient's address and contact information stored in the seller ERP system for the delivery party number sent by the buyer.

2.  It is **not allowed** to copy these values from the availability request.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AdditionalParty" type="AdditionalPartyType" minOccurs="0" maxOccurs="10">
                                <xs:annotation>
                                    <xs:documentation>Information about another party involved in the availability request.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Currency" type="CurrencyType">
                                <xs:annotation>
                                    <xs:documentation>Information about the currency of the availability response.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ProcessingInstructions" type="ProcessingInstructionsType">
                                <xs:annotation>
                                    <xs:documentation>The processing instructions the buyer has sent in the availability request.

This **must** be copied from the availability request unchanged.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ExternalDocument" type="ExternalDocumentType" minOccurs="0" maxOccurs="9">
                                <xs:annotation>
                                    <xs:documentation>An external resource that applies to the whole availability response.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AllowOrCharge" type="AllowOrChargeType" minOccurs="0" maxOccurs="99">
                                <xs:annotation>
                                    <xs:documentation>An allowance or charge that applies to the whole availability response.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Tax" type="TaxType" minOccurs="0" maxOccurs="5">
                                <xs:annotation>
                                    <xs:documentation>A tax that applies to the whole availability response.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AdditionalParameters" type="AdditionalParametersType" minOccurs="0" maxOccurs="30">
                                <xs:annotation>
                                    <xs:documentation>An additional parameter that conveys specific information that applies to the whole availability response.

The seller **must** only use these qualifiers:

1.  `StorageLocation`
2.  `MinimumOrderValue`</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Payment" type="Payment" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Information about the terms of payment.

1.  The seller **can** use this to inform the buyer how they expect them to pay for the order.

2.  If the buyer has sent the mode `PayBeforeOrder` in the availability request, then the seller **must** return a payment reference the buyer can use for pre-paying the order.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="FreeText" type="FreeTextValueType" minOccurs="0" maxOccurs="50">
                                <xs:annotation>
                                    <xs:documentation>Arbitrary information that relates to the whole document.

Free text **must** be agreed between buyer and seller, otherwise the buyer will ignore it.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Response" type="ResponseType" minOccurs="0" maxOccurs="9">
                                <xs:annotation>
                                    <xs:documentation>A status information response that applies to the whole availability response.

1.  The seller **must** send status information responses to the buyer to unambiguously inform them about defined situations that occurred during the processing of the availability request.

2.  For that, the seller **must** use the pre-defined TecCom status information responses or define their own.

3.  The seller **must** communicate their own status information responses to the buyer.

4.  The buyer **must** evaluate the status information responses to have their implementation react accordingly.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Line" maxOccurs="999999">
                    <xs:annotation>
                        <xs:documentation>Information about an availability response line.

1.  The order of the availability response lines **can** differ from the order in the availability request. 

2.  Therefore the buyer **must** match the lines from their availablity request with the line number contained in `Reference/Line`.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Number">
                                <xs:annotation>
                                    <xs:documentation>The position number of the line.

1.  This number **must** be a positive integer and be greater than the position number of the previous line (if any).

2.  The position number **must** be the same for the line itself and any subline belonging to the line.

3.  This number **must not** be used as a reference to the line in the availability request.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minExclusive value="0"/>
                                        <xs:totalDigits value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="SubLine" type="SubLineType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>If present, indicates that this line is a subline.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="TotalQuantity">
                                <xs:annotation>
                                    <xs:documentation>Information about the requested and confirmed quantity of the line.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Requested" type="QuantityType">
                                            <xs:annotation>
                                                <xs:documentation>Information about the requested quantity.

This **must** be copied from the requested quantity of the availability request for the main line and each of its sublines.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Confirmed" type="QuantityType">
                                            <xs:annotation>
                                                <xs:documentation>Information about the confirmed quantity.

1.  For the main line the seller **must** confirm only the available quantity of the requested article.

2.  For each subline the seller **must** confirm only the available quantity of the article in the subline.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ProductId" type="ProductIdChoiceType">
                                <xs:annotation>
                                    <xs:documentation>One or more product identifiers of the requested article.

1.  The seller **must** return every identifier that was sent by the buyer.

2.  The seller **must** return the identifiers stored in their ERP system for the identified article.

3.  The seller **must** return the `BuyerProductNumber` identifier as sent by the buyer.

4.  The seller **can** return additional identifiers from their ERP system that the buyer has not sent.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ProductName" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>The name of the article.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="256"/>
                                        <xs:minLength value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DeliveryOptions" type="DeliveryInfoType" minOccurs="0" maxOccurs="30">
                                <xs:annotation>
                                    <xs:documentation>Information about all delivery options for a main line.

1.  The seller **must not** add delivery options to a main line if:

    1.  The quantity of the delivery options is `0` or

    2.  There was an error during the processing of the line.

2.  The seller **must not** add delivery options to sublines.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="QtyVariance" type="QtyVarianceType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Information about the difference between requested and confirmed quantity.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Price" type="ProductPriceType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Information about different types of prices.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AllowOrCharge" type="AllowOrChargeType" minOccurs="0" maxOccurs="99">
                                <xs:annotation>
                                    <xs:documentation>An allowance or charge that applies to the line.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Tax" type="TaxType" minOccurs="0" maxOccurs="10">
                                <xs:annotation>
                                    <xs:documentation>A tax that applies to the line.

The seller **must not** use this unless the line is taxed differently than the whole document.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Reference" type="ReferenceLineType" maxOccurs="9999">
                                <xs:annotation>
                                    <xs:documentation>A reference to another document.

1.  The seller **must** always add a reference with the qualifier `BuyerOrderNumber` that references the availability request of the buyer.

2.  This also applies if the buyer has not actually sent a `DocumentNumber`. In this case the dummy value `.` must be set for `Number`.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Measurements" type="MeasurementsType" minOccurs="0" maxOccurs="99">
                                <xs:annotation>
                                    <xs:documentation>A measurement of the article.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ExternalTrade" type="ExternalTrade" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Information that is relevant for the export of the article.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ExternalDocument" type="ExternalDocumentType" minOccurs="0" maxOccurs="9">
                                <xs:annotation>
                                    <xs:documentation>An external resource with additional information about the article.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AdditionalParameters" type="AdditionalParametersType" minOccurs="0" maxOccurs="30">
                                <xs:annotation>
                                    <xs:documentation>An additional parameter that conveys specific information that applies to the line.

The seller **must** only use these qualifiers:

1.  `StorageLocation`
2.  `MaterialGroup`
3.  `MakeToOrder`
4.  `MinimumOrderValue`</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="FreeText" type="FreeTextValueType" minOccurs="0" maxOccurs="50">
                                <xs:annotation>
                                    <xs:documentation>Arbitrary information that relates to the line.

Free text **must** be agreed between buyer and supplier, otherwise the buyer will ignore it.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Response" type="ResponseType" minOccurs="0" maxOccurs="9">
                                <xs:annotation>
                                    <xs:documentation>A status information response that applies to the line.

1.  The seller **must** send status information response to the buyer to unambiguously inform them about defined situations that occurred during the processing of availability request line.

2.  For that, the seller **must** use the pre-defined TecCom status information responses or define their own.

3.  The seller **must** communicate their own status information responses to the buyer.

4.  The buyer **must** evaluate the status information responses to have their implementation react accordingly.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Summary" type="SummaryType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The financial summary of the whole availability response.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="required" fixed="5.0">
                <xs:annotation>
                    <xs:documentation>The document's TXML version.

This **must** be set to the fixed value provided in the schema.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>