wp-content/plugins/xsd/TXML5/ORDERS_TXML_5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- bearbeitet mit XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) von TecAlliance GmbH (TecAlliance GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="Txml_5.0_Common.xsd"/>
    <xs:element name="Order">
        <xs:annotation>
            <xs:documentation>The order is used by the buyer to request the delivery of articles from the seller.

It can also be used to request a change to a previously placed order (including its cancellation).</xs:documentation>
            <xs:appinfo>
                <history>
                    <version>v1.0</version>
                    <changedBy>RMA</changedBy>
                    <changedOn>20210311</changedOn>
                    <change>Upgraded TXML_5.0_Common to v1.6</change>
                </history>
                <history>
                    <version>v1.1</version>
                    <changedBy>RMA</changedBy>
                    <changedOn>20210413</changedOn>
                    <change>Upgraded TXML_5.0_Common to v1.7</change>
                </history>
                <history>
                    <version>v1.3</version>
                    <changedBy>RHA</changedBy>
                    <changedOn>20210827</changedOn>
                    <change>Upgraded TXML_5.0_Common to v1.9; removed promotion from Reference</change>
                </history>
                <history>
                    <version>v1.4</version>
                    <changedBy>RMA</changedBy>
                    <changedOn>20211005</changedOn>
                    <change>Upgraded TXML_5.0_Common to v1.10</change>
                </history>
                <history>
                    <version>v1.5</version>
                    <changedBy>MDR</changedBy>
                    <changedOn>20220927</changedOn>
                    <change>Upgraded TXML_5.0_Common to v1.11</change>
                </history>
                <history>
                    <version>v1.6</version>
                    <changedBy>CD</changedBy>
                    <changedOn>20240124</changedOn>
                    <change>Removed schema version from filename</change>
                </history>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Head">
                    <xs:annotation>
                        <xs:documentation>Information about the whole order.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="OrderType" type="MessageCodeList">
                                <xs:annotation>
                                    <xs:documentation>The type of the order.</xs:documentation>
                                    <xs:appinfo>
                                        <altova:exampleValues>
                                            <altova:example value="Standard"/>
                                        </altova:exampleValues>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="DocumentNumber">
                                <xs:annotation>
                                    <xs:documentation>The identifier of the order (aka the buyer order number).

Later business documents of the seller (or, sometimes, the buyer) will use this identifier to reference the order.

The identifier **must** be unique over all orders the buyer sends (that is, no two orders may share the same identifier).</xs:documentation>
                                    <xs:appinfo>
                                        <altova:exampleValues>
                                            <altova:example value="20240105-100334-27"/>
                                        </altova:exampleValues>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="35"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="IssueDate" type="xs:dateTime">
                                <xs:annotation>
                                    <xs:documentation>The specific point in time when the order was created.

It **must** include the time zone (which is the number of hours and minutes the given date is ahead or behind UTC time).</xs:documentation>
                                    <xs:appinfo>
                                        <altova:exampleValues>
                                            <altova:example value="2024-01-04T15:51:39+01:00"/>
                                        </altova:exampleValues>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Reference" type="ReferenceHeaderType" minOccurs="0" maxOccurs="9999">
                                <xs:annotation>
                                    <xs:documentation>A reference to another document.

1.  The buyer **must not** add references with the qualifiers `BuyerOrderNumber`or `SellerOrderNumber`. 

2.  The buyer **must** add references with the qualifiers `BuyerOrderNumber`or `SellerOrderNumber` when the order refers to a previously placed order as follows:

    1.  A change order after a standard or rush order
    2.  A call-off order after a blanket order
    3.  A consumption order after a consignment order</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="SellerParty" type="PartyType1">
                                <xs:annotation>
                                    <xs:documentation>Information about the seller.

The `Number` for the seller party is usually assigned by the buyer. It is the number under which the seller is known in the buyer's ERP system.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="BuyerParty" type="PartyType1">
                                <xs:annotation>
                                    <xs:documentation>Information about the buyer.

The `Number` for the buyer party is usually assigned by the seller. It is the number under which the buyer is known in the seller's ERP system.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="DeliveryParty" type="PartyType2" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Information about the recipient of the order.

The delivery party **must not** be used to provide a shipping address for dropshipping. For that an `AdditionalParty` **must** be used.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AdditionalParty" type="AdditionalPartyType" minOccurs="0" maxOccurs="10">
                                <xs:annotation>
                                    <xs:documentation>Information about another party involved in the order.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Currency" type="CurrencyType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Information about the currency of the order.

A buyer **must** only use the `Request` element, but omit `Response` and `ExchangeRate`.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ProcessingInstructions" type="OrderProcessingInstructionsType">
                                <xs:annotation>
                                    <xs:documentation>The processing instructions the  seller **must** follow when processing the order.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AdditionalParameters" type="AdditionalParametersType" minOccurs="0" maxOccurs="30">
                                <xs:annotation>
                                    <xs:documentation>An additional parameter that conveys specific information that applies to the whole document.

The buyer **must** only use these qualifiers in an order:

1.  `PromotionCode`
2.  `StorageLocation`</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Payment" type="Payment" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Information about the terms of payment.

1.  If present, the seller **must** evaluate the mode sent by the buyer and reject the order if they sent an unsupported payment mode.

2.  For the payment mode `PayBeforeOrder`:

    1. The buyer **must** send the payment reference in the order that was previously returned by the seller in the availability response.

    2. The seller **must** reject the order if the payment for this payment reference has not been received.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Incoterms" type="IncotermsType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>The Incoterms rule.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="FreeText" type="FreeTextValueType" minOccurs="0" maxOccurs="50">
                                <xs:annotation>
                                    <xs:documentation>Arbitrary information that relates to the whole document.

Free text **must** be agreed between buyer and seller, otherwise the seller will ignore it.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Line" maxOccurs="999999">
                    <xs:annotation>
                        <xs:documentation>Information about an individual order line.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Number">
                                <xs:annotation>
                                    <xs:documentation>The position number of the line.

This number **must** be a positive integer and be greater than the position number of the previous line (if any).</xs:documentation>
                                    <xs:appinfo>
                                        <altova:exampleValues>
                                            <altova:example value="1"/>
                                        </altova:exampleValues>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minExclusive value="0"/>
                                        <xs:totalDigits value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Quantity" type="QuantityType">
                                <xs:annotation>
                                    <xs:documentation>Information about the requested quantity.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ProductId" type="ProductIdChoiceType">
                                <xs:annotation>
                                    <xs:documentation>One or more product identifiers of the requested article.

The seller **must** search for the article in their ERP system in this order:

1.  `Ean`
2.  `ProductNumber`
3.  `BuyerProductNumber`
4.  `AdditionalProductId` (OENumber)
5.  `AdditionalProductId` (TradeNumber).</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ProductName" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>The name of the article.</xs:documentation>
                                    <xs:appinfo>
                                        <altova:exampleValues>
                                            <altova:example value="Motorhaube für FORD FIESTA VI 13-17"/>
                                        </altova:exampleValues>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="256"/>
                                        <xs:minLength value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="RequestedDeliveryDate" type="DateType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>The date when the buyer wants to have this article delivered.

1.  This date overwrites the requested delivery date from the processing instructions.

2.  It is only a refinement of the delivery window defined by the chosen dispatch mode from the processing instructions.

3.  The date **must** lie inside this delivery window, otherwise the seller **may** ignore it.

**Example**: for the dispatch mode `Road` the seller specifies a delivery window of 3 to 5 days. If the order date is `2024-01-09`, then the earliest possible delivery date would be `2024-01-12`and the latest possible delivery date would be `2024-01-16` (based on working days from Monday to Friday). The requested delivery date therefore must lie in the window between the earliest and latest delivery date.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Price" type="ProductPriceType" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Information about different types of prices.

Any prices the buyer sends in an order have just informational value unless there is some sort of agreement between buyer and seller.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ItemProcessing" type="ItemProcessingType">
                                <xs:annotation>
                                    <xs:documentation>The processing instructions the seller **must** follow when processing the line.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AdditionalParameters" type="AdditionalParametersType" minOccurs="0" maxOccurs="30">
                                <xs:annotation>
                                    <xs:documentation>An additional parameter that conveys specific information that applies to the line.

Only certain parameters **must** be used by the buyer as outlined in the business rules.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="FreeText" type="FreeTextValueType" minOccurs="0" maxOccurs="50">
                                <xs:annotation>
                                    <xs:documentation>Arbitrary information that relates to the line.

Free text **must** be agreed between buyer and supplier, otherwise the supplier will ignore it.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" use="required" fixed="5.0">
                <xs:annotation>
                    <xs:documentation>The document's TXML version.

This **must** be set to the fixed value provided in the schema.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>